@page "/categories"
@rendermode InteractiveServer
@using ExpenseTracker.Services
@using ExpenseTracker.Components.Data.Models;
@inject CategoryService Service;

<h3>Categories (@categories.Count)</h3>

<ul>
	@foreach (var category in categories)
	{
		<li style="margin-bottom: 1rem;">
			<span>ID: @category.Id | Name: @category.Name</span>
			<button style="background-color:crimson;" @onclick="() => DeleteCategory(category.Id)">Delete</button>
			<a href="/categories/@category.Id/expenses" style="margin-left: 1rem;">View Expenses</a>
		</li>

	}
</ul>

<input @bind="newCategoryName" placeholder="New category name" />
<button style="background-color:lawngreen" @onclick="AddCategory">Add Category</button>

@code {
	private List<Category> categories = new();

	protected override void OnInitialized()
	{
		categories = Service.GetCategories();
	}

	private string newCategoryName;

	void AddCategory()
	{
		if (!string.IsNullOrWhiteSpace(newCategoryName))
		{
			Service.AddCategory(new Category { Name = newCategoryName });
			categories = Service.GetCategories();
			newCategoryName = string.Empty;
		}
	}

	void DeleteCategory(int id)
	{
		Service.DeleteCategory(id);
		categories = Service.GetCategories();
	}
}
